# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# H2 local files
*.db
*.mv.db
*.trace.db

# Environment
.env
.env.*

